$primary: #143d6a;
// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.nav-link {

  text-transform: uppercase;
}

footer ul {
  list-style-type: none;
  padding: 0
}

footer ul>li {
  a {
    text-decoration: none;

  }
}

footer h5 {
  border-bottom: solid $light;
  padding-bottom: 0.5rem
}

html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

:target {
  scroll-margin-top: 102px;
}


.img-nathan {
  filter: drop-shadow(-16px -2px 1px $primary);
  max-width: 75%;
  height: max-content;
}

.custom-shape-divider-top-1678673398 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1678673398 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1678673398 .shape-fill {
  fill: #FFFFFF;
}

#sobre {
  position: relative
}

.col-card {
  margin-top: 0.8rem;
}

@include media-breakpoint-down(md) {
  .custom-shape-divider-top-1678673398 {
    display: none;
  }
}