$primary: #0e5b83;
// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.nav-link {

    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding: 0
}
footer ul>li {
    text-decoration: none;
}

footer h5 {
    border-bottom: solid $light;
    padding-bottom: 0.5rem
}